<main class="container">
    <h1>About Microgreens!!!</h1>
    <div class="main-img-wrapper">
      <img [src]="'/assets/images/about-main.jpg'" loading="lazy">
    </div>
    <div class="content-wrapper__text">
    <h2>What Are the Health Benefits of Microgreens?</h2>
    <p>
        Microgreens have become increasingly popular in the past handful of years, and a great deal of ongoing research seeks to understand all the health benefits these tiny plants offer. 
        Early research has indicated that microgreens contain up to 40% more phytochemicals (beneficial nutrients and components) than their full-grown counterparts.
    </p>
    <p>
        Depending on the stage of development of an edible plant, we give it a different name. Sometimes we eat them as seeds (grains), some right after they germinate and before they have leaves (these are called sprouts), and if we let them grow a little longer (typically 1-2 weeks) then these baby plants become what is commonly referred to as ‘microgreens’. 
        Microgreens are typically harvested after they have formed a pair of starter leaves, though sometimes they’ve also just started to put out their “adult” leaves. 
        Another term you may encounter is “shoots” – which basically translates to “large microgreen” and is used for plants where the seedlings are larger, like peas and beans.
    </p>
    <p>
        On the surface, the difference between sprouts and microgreens seems pretty minor: sprouts are consumed right after the seeds germinate, while microgreens are given a little more time for leaves to develop. In addition, sprouts are consumed whole (root tail and all) while with microgreens, only the above-ground part is eaten. 
        The way microgreens and sprouts are grown is quite different though – and has some important implications. 
        Sprouts are most often grown in a jar with just water – and require daily rinsing to combat contamination. There are only a few types of varieties that are well suited to this style, so the options are rather limited in terms of the types of plants you can eat as sprouts. 
        Microgreens, on the other hand, can be grown in a number of ways, but are grown closer to natural conditions – seeds are planted on a surface with good ventilation. This means that there are tons more options (almost any grain, herb, or vegetable can be eaten as a microgreen) and they require much less attention to grow safely. 
    </p>
    <div class="main-img-wrapper">
        <img [src]="'/assets/images/about-under.jpg'" loading="lazy">
      </div>
    </div>
  </main>