<main class="container">
    <h1>Microgreens!!!</h1>
    <div class="main-img-wrapper">
      <img [src]="'/assets/images/microgreens-index.jpg'" loading="lazy">
    </div>
    <div class="content-wrapper__text">
      <h2>Huge collection of microgreens! Quick delivery!</h2>
      <p>
        Microgreens can contain 40 times the immune, health, and recovery supporting nutrition of their mature counterparts so its great to sprinkle them on everything and enjoy giving your family super-healthy veg.
Your microgreen order will arrive on your doorstep on the Tuesday or Friday following your order depending on your location. It could't be simpler to increase your super nutritious vegetable intake!
      </p>
      <div class="content-cards">

        <div class="content-cards__card">
          <div class="content-cards__card__img">
            <img loading="lazy" [src]="'/assets/images/cards/card1.jpg'" />
          </div>
          <p>Microgreens: The Insiders Secrets To Growing Gourmet Greens & Building A Wildly Successful Microgreen Business (Smarter Home Gardening). If you are buying microgreens for the first time consider starting with the three mixes: mild, spicy, and complete - containing over 15 varieties in the three pots - we think you'll love them.</p>
          <div class="content-cards__card__available">
            <p>BUY NOW! <img class="basket-card" [src]="'/assets/images/wicker-basket.png'" loading="lazy"/></p>
          </div>
          <p class="price">20.99$</p>
        </div>

        <div class="content-cards__card">
          <div class="content-cards__card__img">
            <img loading="lazy" [src]="'/assets/images/cards/card2.jpg'" />
          </div>
          <p>Microgreens: The Insiders Secrets To Growing Gourmet Greens & Building A Wildly Successful Microgreen Business (Smarter Home Gardening). If you are buying microgreens for the first time consider starting with the three mixes: mild, spicy, and complete - containing over 15 varieties in the three pots - we think you'll love them.</p>
          <div class="content-cards__card__available">
            <p>BUY NOW! <img class="basket-card" [src]="'/assets/images/wicker-basket.png'" loading="lazy"/></p>
          </div>
          <p class="price">30.99$</p>
        </div>
      
      </div>
    </div>
  </main>