<main class="container">
    <h1>Microgreens!!!</h1>
    <div class="main-img-wrapper">
      <img [src]="'/assets/images/microgreens-index.jpg'" loading="lazy">
    </div>
    <div class="content-wrapper__text">
      <h2>Huge collection of microgreens! Quick delivery!</h2>
      <p>
        Microgreens can contain 40 times the immune, health, and recovery supporting nutrition of their mature counterparts so its great to sprinkle them on everything and enjoy giving your family super-healthy veg.
Your microgreen order will arrive on your doorstep on the Tuesday or Friday following your order depending on your location. It could't be simpler to increase your super nutritious vegetable intake!
      </p>
      <div class="content-cards">
        @if(done){
          @for (product of products; track product.name){
            <product
            [name] = "product.name"
            [preview_image] = "product.preview_image"
            [price] = "product.price"
            [description] = "product.description"
            ></product>
          }
        }
        @else {
          <h2>Loading...</h2>
        } 
      </div>
    </div>
  </main>