<div class="header">
    <div (click)="this.changeBg('bgDay')"><img class="header-side" [src]="'/assets/images/header-sun.png'"></div>
    <div class="menu-links__wrapper">
        <a routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Main</a>
    </div>
    <div class="headerMiddleWrapper">
        <img class="header-middle"
        #headerImg (click)="changeHeaderImg(headerImg)" 
        [src]="'/assets/images/header1.png'">
    </div>
    <div class="menu-links__wrapper">
        <a routerLink="/about" routerLinkActive="active-link">About</a>
    </div>
    <div (click)="this.changeBg('bgNight')"><img class="header-side" [src]="'/assets/images/header-moon.png'"></div>
</div>